node_modules
dist
.env
.env.*
.env.example
.env.production
uploads
check-data.ts
test
*.ps1
*.sql
*.md
.prettierrc
.gitignore
eslint.config.mjs
nixpacks.toml
setup*
auto-setup*
create-database*
fix-finance*
